# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/qrcode-demo/.mvn/
/qrcode-demo/mvnw
/qrcode-demo/mvnw.cmd
/electronic-contract-demo/mvnw
/electronic-contract-demo/mvnw.cmd
/electronic-contract-demo/.mvn/
/other-demo/.mvn/
